<div class="footer">
    <div class="row">
        <div class="column">
            <li>
                <button (click)="about()" style="margin-left:2cm;margin-top: .2cm;font-size: 20px;color:white;" type="button"
                    class="btn btn-link">
                    <b>About Us</b>
                </button>
            </li>
            <li>
                <button (click)="contact()" style="margin-left:2cm;margin-top: .1cm;font-size: 20px;color:white;" type="button"
                    class="btn btn-link">
                    <b>Contact Us</b>
                </button>
            </li>

        </div>
        <div class="column">
            <li>
                <button (click)="job()" style="margin-left:2cm;margin-top: .2cm;font-size: 20px;color:white;" type="button" class="btn btn-link">
                    <b>Job Dictionary</b>
                </button>
            </li>
            <li>
                <button (click)="terms()" style="margin-left:2cm;margin-top: .1cm;font-size: 20px;color:white;" type="button"
                    class="btn btn-link">
                    <b>Terms of Use</b>
                </button>
            </li>
        </div>
        <div class="column">
            <li>
                <button (click)="Fraud()" style="margin-left:2cm;margin-top: .2cm;font-size: 20px;color:white;" type="button"
                    class="btn btn-link">
                    <b>Fraud Alert</b>
                </button>
            </li>
            <li>
                <button (click)="policy()" style="margin-left:2cm;margin-top: .1cm;font-size: 20px;color:white;" type="button"
                    class="btn btn-link">
                    <b>Privacy Policy</b>
                </button>
            </li>
        </div>
        <div class="column">
            <p style="margin-left:24.3cm;margin-top: .5cm;font-size: 20px ;color:white;">
                <b>Follow Us on</b>
            </p>
            <div class="row">
                <div class="column">
                    <p style="margin-left:24.3cm;font-size: 20px">
                        <a href="https://www.facebook.com">
                            <img style="width:40px;" src="https://www.freeiconspng.com/uploads/red-letter-f-icon-png-1.png"
                                alt="Avatar" class="avatar">
                        </a>
                    </p>
                </div>
                <p style="margin-left:1cm;font-size: 20px">ng
                    <a href="https://twitter.com">
                        <img style="width:30px;" src="https://ubisafe.org/images/twitter-transparent-red-6.png" alt="img not available"
                            class="avatar">
                    </a>
                </p>
                <p style="margin-left:1.5cm;font-size: 20px">
                    <a href="https://www.linkedin.com">
                        <img style="width:30px;" src="http://www.scc-rsci.com/assets/images/img/01.png"
                            alt="img not available" class="avatar">
                    </a>
                </p>
            </div>

        </div>
    </div>


</div>