<h2 class="heading1">Job Dictionary</h2>
<p class="para1">Search our job listings and discover a variety of opportunities. At Cute Cut, we connect you with the top hair stylists in
  your area.
</p>
<div  class="card">
  <div class="row">
    <div class=coloumn-md-2>
      <ul class="ul1" >
        <li>
          <b>Shampoo & Conditioning</b>
        </li>
        <br>
        <li>
          <b>Spa Rituals and Treatment</b>
        </li>
        <br>
        <li>
          <b>Hairstyling & Updos</b>
        </li>
      </ul>
    </div>

    <div class=coloumn-md-2>
      <ul  class="ul2">
        <li>
          <b>Cut – Classic & Advanced Cuts</b>
        </li>
        <br>
        <li>
          <b>Straightening</b>
        </li>
        <br>
        <li>
          <b>Colour Techniques - Root Touch-ups, Global Colour & Highlights</b>
        </li>
      </ul>
    </div>

    <div class=coloumn-md-2>
      <ul  class="ul3">
        <li>
          <b>Keratin treatment</b>
        </li>
        <br>
        <li>
          <b>Perming</b>
        </li>

      </ul>
    </div>

  </div>
</div>