.heading1{
    text-align: center;
    margin-top:10mm;
}

.para1{
    margin-left:200px;
    margin-right:200px;
    margin-top:20px;
}

.heading2{
    text-align:center;
    margin-top:10mm;
}

.para2 {
   margin-left:200px;
   margin-right:200px;
   margin-top:20px;
}

.heading3{
    margin-left:200px;
    margin-top:8mm;
}


.para3{
   margin-left:200px;
   margin-right:200px;
   margin-top:20px;
}

.para4{
   margin-left:200px;
   margin-right:200px;
   margin-top:20px;
}

.para5{
    margin-left:200px;
    margin-right:200px;
    margin-top:20px;
}

.menus{
  color: rgb(192, 5, 5);
}



