<div class="row">
  <div class="column-md-4">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ">
          <div class="filter-sidebar">
            <div class="row1 card-body py-3 mb-4 ">
              <h4 class="filter">Narrow Your Results</h4>
            </div>
            <div class="form-group1">
              <select class="form-control" id="selectDistance">
                <option>Distance</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
              </select>
            </div>


            <div class="form-group2">
              <select class="form-control" id="selectEducation">
                <option>Education Qualities</option>
                <option>Masters</option>
                <option>Bachelors</option>
                <option>Diploma</option>
                <option>Certificate</option>
              </select>
            </div>

            <div class="form-group3">
              <select class="form-control" id="selectExperience">
                <option>Experience</option>
                <option> 1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>


            <div class="form-group3">
              <select class="form-control" id="selectRating">
                <option>Rating(Out of Five)</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>


            <div class="form-group3">
              <select class="form-control" id="selectRates">
                <option>Rates (Below)</option>
                <option> 5000</option>
                <option>10000</option>
                <option>15000</option>
                <option>20000</option>
                <option>25000</option>
              </select>
            </div>
            <hr>
            <button (click)="advanceSearch()"   type="btn" class="btn btn-danger ">Find Now</button>
            <button (click)="reset()" type="btn" class="btn btn-danger">Reset All</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div  class="column1-md-2">
      <div *ngFor="let employee of employees" id="employeeCard"  class="row2">
        <div class="column2-md-2">
          <div class="card1" >


            <div  class="card-body">
              <div class="row">
                <div class="col s12 m6">
                  <div stle="height:32cm;" class="card ">
                    <div class="card-content white-text">

                      <button class="add" id={{employee.user_id}} (click)="addToWishList(this.employee.user_id)" >
                        <h6>+ Add to Short List</h6>
                      </button>
                      <h3 class="name" id="employeeName;"> {{employee.first_name}} {{employee.last_name}}</h3>
                      <hr>
                      <div class="row">

                        <div class="column1">
                          <h5 class="job">
                            <img class="title" src="./assets/job.jpg"> {{employee.jobtitle}} </h5>

                          <h5>
                            <img class="city"  src="./assets/location.jpg"> {{employee.city}}</h5>
                        </div>
                        <div  class="column2">
                          <h5>
                            <img class="experience"  src="./assets/expe.jpg"> {{employee.experience}} Years</h5>
                          <h5>
                            <img class="education" src="./assets/edu.jpg"> {{employee.educationalQualification}}</h5>
                        </div>
                        <div class="column3">
                          <h5>
                            <img class="rate"  src="./assets/salary.jpg"> {{employee.rate}}</h5>
                          <h5>{{employee.rating}}
                            <img class="rating" src="./assets/star.png">
                          </h5>
                        </div>
                      </div>

                      <hr>
                      <h5 class="description"> {{employee.description}}</h5>


                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="card-action">
                  <button id={{employee.user_id}} (click)="viewprofile(this.employee.user_id)" class="btn btn-danger" style="height:1cm;width:3cm;color:white;">
                    View Profile
                  </button>
                  <div class="row">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  class="column-md-2">
      <button class="button button3">
        <b class="wish" (click)="onClick()">Wish List</b>
      </button>
    </div>
    <div id="snackbar">{{popup}}</div>



  </div>